<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Means of Control Map</title>

    <!-- Leaflet CSS & JS-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		crossorigin=""></script>
		
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
	

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='choropleth.js') }}"></script>
	<!-- Lodash     -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='control-map-style.css') }}">

  </head>
  <body>

    <!-- The div where we will inject our map -->
    <div id="map"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='map1.geojson') }}"></script>
	
    <script type="text/javascript" src="{{ url_for('static', filename='config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='logic.js') }}"></script>

  </body>
</html>
