{% extends "base-template.html" %}
{% block title %}Means of Control By Gender{% endblock %}
{% block content %}

<div style="height:100%">
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='control-age-style.css') }}">
  <script src="{{ url_for('static', filename='control-gender-logic.js') }}"></script>

  <div id="chart-container"></div>
</div>
{% endblock %}