{% extends "base-template.html" %}
{% block title %}Credits{% endblock %}
{% block content %}

<div class="container-fluid">
  <h1>Credits</h1>
  <p>This page gives acknowledgement to the tools/resources we used for this website.</p>

  <div class="row">
    <div class="col-lg-9">
    <h3>Thank you</h3>
      <p><a href="https://www.ctdatacollaborative.org/download-global-dataset" target="_blank">Counter Trafficking Data Collaborative (CTDC)</a> for the dataset used to build this website<p>
      <p>Anychart JS<p>
      <p>Google Maps API for country geocoding<p>
      <p>The following JS Libraries: Leaflet, Leaflet.Arc, D3, and Lodash<p>
      <p>The following Python Libraries:Pandas, Numpy, and SQLAlchemy, Flask</p>
    </div>

  </div>
</div>
{% endblock %}