{% extends "base-template.html" %}
{% block content %}
<div class="container">
  
    <div class="row">
        <div class="col-md-6 pad top"> <br>
            <h3>Summary</h3> <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 pad top" style="font-size: 0.9rem;"> <br>

            <div class="pull-left">
            <img src="https://slack-imgs.com/?c=1&amp;url=https%3A%2F%2Fwww.fbi.gov%2Fimage-repository%2Fstop-human-trafficking-stock.jpg%2F%40%40images%2Fimage%2Flarge" alt="Image" width="400" height="275" style="float:left">
            </div>
            <h4>Data for Hope</h4>
            <div class="text-left">
            <p></p>
            <p> Group 3 is looking into a dataset on human trafficking to better understand international trends in the types of labour victims are exploited for, the means of control abusers exercise, as well as differences between the age and gender of victims.</p><p>
                </p><p> Our dataset includes real personally reported information from victims of human trafficking across the globe. We acknowledge our limited expertise regarding this dataset and hope to, rather than attempt to solve any particular issue, shed light on trends we notice within the dataset and provide a broad fundamental understanding of human trafficking on a global scale.   </p> <br>
                <p>
                    </p><p>
                        </p><p>
                            </p><p>
            </p></div>

        </div>
    
    </div>
</div>
{% endblock %}